.page {
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 22px;
  text-align: center;
}

.chat-box {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  width: 80%;
  /* align-items: center; */
  /* justify-content: center; */
}

.chat {
  background-color: red;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
